.product-card{
    width: 900px;
    margin: auto;
    margin-top: 25px;
    display: grid;  
    grid-template-areas:
      "image name"
      "image price"
      "image decription"
      "image amount";
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
}
.product-decription{
    grid-area:decription;
    display: flex;
    place-self: center;
    font-size: 15px;
}
.product-image {
    grid-area:image;
    width: 100%;
    vertical-align: bottom;
    border-radius: 4px 0px 0px 4px;
  }

  .product-name{
    grid-area:name;
    display: flex;
    place-self: center;
    font-size: 30px;
  }
  
  .product-price{
    grid-area:price;
    display: flex;
    place-self: center;
    font-size: 20px;
  }

  .product-amount{
    grid-area:price;
    display: flex;
    place-self: center;
    font-size: 20px;
  }