.App {
  text-align: center;
  background-color: wheat;
  min-height: 100vh;
  max-height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiToolbar-root{
  justify-content: space-between;
}

* {
  text-decoration: none;
}
